<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón circular para abrir/cerrar la sidebar -->
      <button id="menuButton" (click)="toggleSidebar()">
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Sidebar -->
<div
  class="sidebar"
  [class.open]="isSidebarOpen"
  (touchstart)="onTouchStart($event)"
  (touchend)="onTouchEnd($event)"
>
  <div class="sidebar-header">
    <h2>Menú</h2>
    <button class="close-btn" (click)="toggleSidebar()">
      <ion-icon name="close-outline"></ion-icon>
    </button>
  </div>
  <ul class="sidebar-menu">
    <li (click)="goToSettings()">
      <ion-icon name="settings-outline"></ion-icon>
      Configuración
    </li>
    <li (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      Cerrar sesión
    </li>
  </ul>
</div>

<ion-content id="mainContent">
  <!-- Canciones Vistas -->
  <div class="viewed-tracks" *ngIf="viewedTracks.length > 0">
    <h2>Canciones Recientes</h2>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card
            class="horizontal-card"
            *ngFor="let track of viewedTracks | slice:0:3"
            (click)="goToSongDetail(track.id)"
          >
            <ion-img [src]="track.imageUrl" alt="Portada del álbum"></ion-img>
            <ion-card-content>
              <ion-card-title>{{ track.name }}</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card
            class="horizontal-card"
            *ngFor="let track of viewedTracks | slice:3:6"
            (click)="goToSongDetail(track.id)"
          >
            <ion-img [src]="track.imageUrl" alt="Portada del álbum"></ion-img>
            <ion-card-content>
              <ion-card-title>{{ track.name }}</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<app-navbar></app-navbar>