/* filepath: c:\Users\luis3\OneDrive\Desktop\Spotify-Angular\Frontend\src\app\home\home.page.scss */

/* Estilo general */
ion-content {
  --background: #f9f9f9;
  padding: 10px;
}

/* Estilo para las tarjetas */
ion-card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

ion-card:hover {
  transform: scale(1.05);
}

ion-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 150px;
  object-fit: cover;
}

ion-card-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

ion-card-subtitle {
  font-size: 14px;
  color: #666;
}

ion-card-content p {
  font-size: 14px;
  margin: 5px 0;
}

ion-card-content a {
  color: #3880ff;
  text-decoration: none;
  font-weight: bold;
}