<div class="custom-header">
  <h1>{{ playlistName || 'Nueva Playlist' }}</h1>
</div>
<ion-content>
<div class="content">
  <!-- Campo para ingresar el nombre de la playlist -->
  <div class="form-group">
    <label for="playlistName">Nombre de la Playlist</label>
    <input
      id="playlistName"
      type="text"
      [(ngModel)]="playlistName"
      class="form-control"
      placeholder="Ingresa el nombre de la playlist"
    />
  </div>

  <!-- Botón para agregar más canciones -->
  <button class="btn btn-add-song" (click)="openAddSongModal()">Agregar Canción</button>

  <!-- Lista de canciones seleccionadas -->
  <ul class="song-list">
    <li *ngFor="let song of selectedSongs" class="song-item">
      <span class="song-name">{{ song.name }}</span>
      <button class="btn btn-remove-song" (click)="removeSong(song.id)">Eliminar</button>
    </li>
  </ul>

  <!-- Botón para guardar la playlist -->
  <button class="btn btn-save-playlist" (click)="savePlaylist()">Guardar Playlist</button>
</div>
</ion-content>
<app-navbar></app-navbar>